@import "../../../variables.styl"
#miCameraOnline
    background: gris
#video
    background: red
    width: 100%
    height: 100%
#myCambas
    background: green
#myButton
    position: absolute
    bottom: 0
    left: 45%
.cont6
    background: orange
    position: relative
